.container {
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    z-index: 0;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: white;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
    background-color: white;
    
}
.volet {
    width: 0;
    height: 100vh;
    transition: width 0.6s ease-in-out, background-color 0.6s ease-in-out;
    position: absolute;
}
.voley { 
    width: 200px;
    display: block;
    background-color: #071D40;
    color: white;
    position: absolute;
}
.all_word_volet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.word_volet {
    display: flex;
    /* border: solid red 1px; */
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: auto;
    height: 5vw;
    color: white;
    text-align: right;
    padding: auto;
}
.connexion {
    display: flex;
    /* border: solid red 1px; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    width: auto;
    height: 20vh;
    color: white;
    text-align: right;
    padding: auto;
    border-radius: 10px;
    background-color: #4D658B;
    transition: height 0.6s ease-in-out, background-color 0.6s ease-in-out;
    
}
.Signin_navbar {
    /* border: solid red 1px; */
    display: flex;
    width: 80%;
    height: 7vh;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: #7386A4;
    padding: 10px;
    flex-direction: column;
    transition: height 0.6s ease-in-out, background-color 0.6s ease-in-out;
}
.Signup_navbar {
    /* border: solid red 1px; */
    text-decoration: none;
    color: white;
    display: flex;
    width: 80%;
    height: 7vh;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #7386A4;
    padding: 10px;
}
.volet_sign {
    height: 40vh;
}
.Signin_navbar_click {
    height: 25vh;
    transition: height 0.6s ease-in-out, background-color 0.6s ease-in-out;
    
}
.input_volet {
    height: 0;
}
.input_connect {
    height: 0;
    overflow: hidden;
}
.input_connect_click {
    height: 15vh;
    overflow: hidden;
}
.input_connexion_volet {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    margin-bottom: 5px;
    background-color: #7386A4;
    border: 2px solid white;
    color: white;
    height: 4vh;
    width: 100%;
    cursor: text;
}
.button_connexion_volet {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: #7386A4;
    border: 2px solid white;
    color: white;
    height: 4vh;
    width: 100%;
    cursor: pointer;
}

.button_connexion_volet:hover {
    background-color: white;
    color: #7386A4;
}
.button_connexion_volet:active {
    background-color: #7386A4;
    color:white;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    White;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:   white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:   white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:   white;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:   white;
}

.test{
    height: 5vh;
}