*{box-sizing: border-box}

center {
  text-align: center;
  color: BLACK;
}
.body {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.Signup {
    margin: auto;
    text-align: center;
}
input {
    height: 25px;
    width: 150px;
    border-radius: 10px;
    border-color:grey 2px;
    text-align: center;
}
#button_signup {
    height:  40px;
    width: 150px;
    border-radius: 10px;
}
.select_signup {
    height: 25px;
    width: 150px;
}
textarea {
    height: 100px;
    width: 350px;
    max-width: 350px;
    max-height: 100px;
}
.body_accueil_search{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 50px;
    overflow: hidden;
}
/* .multiProfile{
    height: 400px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
} */
.photoProfileMulti{
    display: flex;
    height: 40%;
    width: 100%;
    border: solid 1px black;
    justify-content: center;
    align-items: center;
}
.descriProfilMulti{
    display: flex;
    height: 60%;
    width: 100%;
    border: solid 1px black;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.textDescri{
    font-family: Arial Black;
}
.bodyUserProfile{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
}
.profileUserCard{
    min-width: 300px;
    display: flex;
    height: auto;
    width: 60%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
}
.detailProfileUser{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 25%;
    align-items: center;
    justify-content: space-between;
}
.photoProfileUserCard{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 25%;
    width: 100%;
}
.allTagUserProfile {
    min-height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.textUserProfile{
    font-family: Arial Black;   
}
.buttonForLikeAndBlock{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-around;
}
#sizeButton {
    width: 100px;
}
.pageOubli {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cadreOubli{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.searchProfile {
    background-color: white;
    text-align: center;
    border-radius: 10px;
}