*{box-sizing: border-box}

center {
  text-align: center;
  color: BLACK;
}
.body {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.Signup {
    margin: auto;
    text-align: center;
}
input {
    height: 25px;
    width: 150px;
    border-radius: 10px;
    border-color:grey 2px;
    text-align: center;
}
#button_signup {
    height:  40px;
    width: 150px;
    border-radius: 10px;
}
.select_signup {
    height: 25px;
    width: 150px;
}
textarea {
    height: 100px;
    width: 350px;
    max-width: 350px;
    max-height: 100px;
}
.body_accueil_search{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 50px;
    overflow: hidden;
}
.multiProfile{
    height: 400px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
}
.photoProfileMulti{
    display: flex;
    height: 40%;
    width: 100%;
    border: solid 1px black;
    justify-content: center;
    align-items: center;
}
.descriProfilMulti{
    display: flex;
    height: 60%;
    width: 100%;
    border: solid 1px black;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.textDescri{
    font-family: Arial Black;
}