*{box-sizing: border-box}

center {
  text-align: center;
  color: BLACK;
}
.body {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#root {
    font-size: 1rem;
}
.Signup {
    margin: auto;
    text-align: center;
}
input {
    height: 25px;
    width: 150px;
    border-radius: 10px;
    border-color:grey 2px;
    text-align: center;
}
#button_signup {
    height:  40px;
    width: 150px;
    border-radius: 10px;
}
.select_signup {
    height: 25px;
    width: 150px;
}
textarea {
    height: 100px;
    width: 350px;
    max-width: 350px;
    max-height: 100px;
}
.body_accueil_search{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 50px;
    overflow: auto;
}
.multiProfile{
    height: 400px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}
.photoProfileMulti{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.descriProfilMulti{
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.textDescri{
    font-family: Arial Black;
}
.bodyUserProfile{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
}
.profileUserCard{
    min-width: 300px;
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 10px;
    overflow: auto;
    border-radius: 10px;
}
.detailProfileUser{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 25%;
    align-items: center;
    justify-content: space-between;
}
.photoProfileUserCard{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 25%;
    width: 100%;
}
.allTagUserProfile {
    min-height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.textUserProfile{
    font-family: Arial Black;   
}
.buttonForLikeAndBlock{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-around;
}
#sizeButton {
    width: 100px;
}
.pageOubli {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cadreOubli{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.searchProfile {
    background-color: white;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 15px;
}
.resultProfile {
    display: flex;
    flex-wrap: wrap;
}
.bodyNotification {
    height: 100vh;
    width: 100vw;
    display: flex;
}
.notification {
    display: flex;
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 15px;
    height: auto;
    width: auto;
}
.allNotification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.bodyMessenger {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
}
.cadreApercu {
    display: flex;
    height: 100px;
    width: 600px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}
.bodyMessage {
    height: 100vh;
    width: 100vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.conversation {
    background-color: white; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    height: 100%;
    width: 70%;
    border-radius: 3px;
}
.UserDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
}
.UserMessage {
    width: 100%;
    height: 900px;
}
.cadreMessage {
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.cadreSendMessage {
    height: 10%;
    padding: 5px;
}
.inputMessage {
    height: 50%;
    width: 100%;
}
.inputMessage1 {
    height: 100%;
    width: 100%;
}
.buttonSend {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.discution {
    height: 100%;
    width: 100%;
    border: solid 1px grey;
    padding: 5px;
    border-radius: 3px;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.notMessage {
    height: 100px;
    text-align: center;
}
.convUserOther {
    margin: 10px;
    margin-right: 25%;
    width: 100%;
    background-color: grey;
    border-radius: 3px;
    padding:5px;
    text-align: left;
}
.convUserLogin {
    margin: 10px;
    margin-left: 25%;
    width: 100%;
    display: flex;
    text-align: right;
    margin-left: 25%;
    background-color: #1DE9B6;
    border-radius: 3px;
    max-width: 75%;
    overflow-x: hidden;
    padding: 5px;
}